services:
  - type: web
    name: isbeauty-kh-v4
    runtime: node
    plan: free
    rootDir: .
    buildCommand: npm install && npm run prisma:generate && npm run prisma:migrate && npm run seed
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: isbeauty-kh-db
          property: connectionString
      - key: ADMIN_LOGIN
        value: admin
      - key: ADMIN_PASSWORD
        value: test12345
      - key: JWT_SECRET
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false

databases:
  - name: isbeauty-kh-db
    plan: free
